{% extends "base.html.j2" %}

{% block title %} Unconfirmed {% endblock %}

{% block page_content %}
  <div class='page-header'>
    <h1> Hello, {{ current_user.username }}! </h1>
    <h2> You have not confirmed your account yet. </h2>
    <p> Before you can access this site, you have to confirm your account. Check your inbox, you should have recieved an email with a confirmation token. </p>
    <p> Need another confirmation email? <a href="{{ url_for('auth.resend_confirmation') }}"> Click here. </a> </p>
  </div>
{% endblock %}
